@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.body{

  background-image: linear-gradient(#1e1e2a, #1e1e2a);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.form {
  position: absolute;
  background: transparent;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 13px;
  width: 550px;

}

.form input {
  font-family: "Times New Roman", Times, serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 25px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 30px;

}

.form button {

  font-weight: bold;
  width: 100%;
  border-radius: 30px;
  padding: 15px;

}

.form button:hover,
.form button:focus {
  background: rgb(244, 106, 106);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.form button:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}

.form .message {

  margin: 6px 6px;
  color: #808080;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  font-style: normal;



}





.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  color: #eff0f3;
  height: 5px;

}

.toggle{
  width: 40px;
  height: 20px;
  background-color: black;
  border-radius: 30px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
 }
 .toggle-icon{
  color: goldenrod;
 }
 .toggle-ball{
  width: 18px;
  height: 18px;
  background-color: white;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease all;
 }
 .toggle.active {
  background-color: whitesmoke;
 }
 
 .toggle-ball.active {
  background-color: black;
  transform: translateX(-20px);
 }


 body.active {
  background: whitesmoke;
}

header.active {
  background: whitesmoke;
}

.logo.active {
  color: black;
}
.nav-link.active{
  color: black;
}
.copy.active{
  color: black;
}

/* style.css */

/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #e7e0e0;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f25858;
}



/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: tr;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
  position: center;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: center;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
.body.dark-mode label {
  color: #fff; /* White text color */
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container div {
  flex: 1;
  margin-right: 10px;
}

.flex-container div:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="tel"], select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
